.jumbotron{
    margin-top: 10px;
}

body{
    background-color: #34495e;
}

.title
{
    color: #FFF;
    font-size: 5.4em;
    padding-top: 20px;
    font-family: 'Bowlby One SC', cursive;
    
}
.card
{
    margin-top: 10px;
    margin-left: 55px;
}

.wrongGuesses
{
    color: #FFF;
}